
{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
      HTMX Demo
    {% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
        content="Interactive HTMX Training Platform for Research Software Engineers" />
  <meta name="author"
        content="David W Pettifor" />
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicons/favicon.ico' %}?v=3" />
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}?v=3" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}?v=3" />
  {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
          integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
<!-- Your stuff: Third-party CSS libraries go here -->
<!-- This file stores project-specific CSS -->

  
  <link href="{% static 'css/project.css' %}" rel="stylesheet" />


{% endblock css %}
<!-- Le javascript
    ================================================== -->
{# Placed at the top of the document so pages load faster with defer #}
{% block javascript %}


<!-- Bootstrap JS -->
<script defer
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
        integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<!-- jQuery (for comparison examples) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<!-- HTMX -->
<script src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" 
        crossorigin="anonymous"></script>
<!-- Your stuff: Third-party javascript libraries go here -->


<!-- place project specific Javascript in this file -->

  
  <script defer src="{% static 'js/project.js' %}"></script>


{% endblock javascript %}
</head>
<body class="{% block bodyclass %}{% endblock bodyclass %}">
  {% block body %}
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display: inline-block; vertical-align: middle; margin-right: 0.5rem;">
          <polyline points="16 18 22 12 16 6"></polyline>
          <polyline points="8 6 2 12 8 18"></polyline>
        </svg>
        HTMX Training Hub
      </a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'examples:index' %}">Examples</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'examples:comparison' %}">Side-by-Side</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'examples:htmx_deep_dive' %}">Deep Dive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'exercises:index' %}">Exercises</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    {% block main %}
      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}
    {% endblock main %}

  </div>
  
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5 style="color: white; font-size: 1.125rem; margin-bottom: 1rem;">HTMX Training Hub</h5>
          <p style="font-size: 0.875rem;">
            An interactive training platform for learning HTMX and migrating from jQuery/AJAX.
          </p>
        </div>
        <div class="col-md-3">
          <h6 style="color: white; font-size: 1rem; margin-bottom: 0.75rem;">Resources</h6>
          <ul style="list-style: none; padding: 0; font-size: 0.875rem;">
            <li style="margin-bottom: 0.5rem;"><a href="https://htmx.org" target="_blank" rel="noopener">HTMX Documentation</a></li>
            <li style="margin-bottom: 0.5rem;"><a href="https://htmx.org/examples/" target="_blank" rel="noopener">HTMX Examples</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h6 style="color: white; font-size: 1rem; margin-bottom: 0.75rem;">Training Paths</h6>
          <ul style="list-style: none; padding: 0; font-size: 0.875rem;">
            <li style="margin-bottom: 0.5rem;"><a href="{% url 'examples:comparison' %}">Comparisons</a></li>
            <li style="margin-bottom: 0.5rem;"><a href="{% url 'examples:htmx_deep_dive' %}">Deep Dive</a></li>
            <li style="margin-bottom: 0.5rem;"><a href="{% url 'exercises:index' %}">Exercises</a></li>
          </ul>
        </div>
      </div>
      <hr style="border-color: rgba(255, 255, 255, 0.2); margin: 1.5rem 0;">
      <div class="text-center" style="font-size: 0.875rem;">
        <p style="margin: 0;">&copy; 2025 HTMX Training Hub. Built for Research Software Engineers.</p>
      </div>
    </div>
  </footer>
  {% endblock body %}
  <!-- /container -->
  {% block modal %}
  {% endblock modal %}
  {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
    {% endcomment %}
  {% endblock inline_javascript %}
</body>
</html>
